# Introduction to Dictionaries in Python

## What is a Dictionary?

Dictionary, a data structure in Python, is a collection of *key-value pairs*, where each *key is unique*, and each key is associated with a specific value. Unlike other data structures in Python, like lists or sets, *dictionaries are unordered*, meaning that the items are not stored in any particular sequence.

Dictionary enable the association of values with unique keys, providing a way to store and retrieve information using meaningful identifiers. Dictionaries are particularly valuable when there is a need for fast data access and retrieval based on specific keys. They are versatile and widely used in scenarios where data needs to be stored and accessed in a structured manner.

## Why Do We Need Dictionaries?

### The Problem: Efficient Data Lookups

Consider a scenario where you are managing a collection of student scores in different subjects. Initially,  might think of using two separate lists. One for student names and one for their corresponding scores:

In [1]:
students : list[str ]= ["Alice", "Bob", "Charlie"]
scores : list[int] = [85, 92, 78]


To find the score of a specific student,  would need to first find the index of the student's name in the `students` list and then use that index to look up the score in the `scores` list:

In [4]:
index : int = students.index("Bob")# 1
print(index)
score : int = scores[index]
print(score)

1
92

In [7]:
students_score = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78
}
print(students_score["Bob"])

92

While this approach works, it quickly becomes inefficient as the lists grow in size. Searching for a student's name in the list takes time, and managing two separate lists can lead to errors, especially if they become out of sync.

### The Solution: Constant-Time Lookups with Dictionaries

Dictionaries provide a more efficient and intuitive way to handle this situation. By using student names as keys and their scores as values,  can store the data in a dictionary:

In [8]:
students_scores : dict[str,int] = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "Alice":75
}


Now, finding a student's score is much simpler and faster:

In [9]:
score : int = students_scores["Alice"]
print(score)

75

In [10]:
print(students_scores)
print(len(students_scores))

{'Alice': 75, 'Bob': 92, 'Charlie': 78}
3

This operation is performed in constant time, regardless of the number of students. Because of the direct indexing mechanism provided by the hash function

## What Problems Do Dictionaries Solve?

### 1. Fast Data Retrieval

Dictionaries are optimized for fast data retrieval. Instead of searching through an entire list,  can quickly access any value directly by its key.

### 2. Clearer, More Expressive Code

Dictionaries allow us to write clearer and more expressive code. The key-value structure makes it obvious what each item represents, improving code readability.

### 3. Flexibility in Data Organization

Dictionaries offer flexibility in how  organize data can store complex structures, like lists or other dictionaries, as values, enabling us to represent nested or hierarchical data.

## Working with Dictionaries in Python

### Important Properties
- Each key should be unique
- Key can be any immutable type of object
- `len()` function also works with dictionaries i.e. returns the length of key-value pairs
- A dictionary is a one way tool i.e. We can find the value from key but cannot find the key from value. It works the same way as original dictionary.We can find urdu meaning of word in english but not the english meaning of urdu word.
- The dictionaries are not ordered. We might have different orders when we use `print()` function. Dictionaries preserve the insertion order
- Dictionaries are not a sequence type. So can we use for loop with dictionaries? Yes! We'll see it in below examples.
- Not sequential like list and tuple but iterable object.

### Creating a Dictionary

 can create a dictionary using curly braces `{}` or the `dict()` function.

In [ ]:
# Using curly braces
students_scores : dict[str, int] = {
    "Bob": 92,
    "Charlie": 78,
     "Alice": 85,
}
print(students_scores)

{'Bob': 92, 'Charlie': 78, 'Alice': 85}

In [11]:
students_age : dict[str,int] = {
    "Ammar": 19, "Ashan":20, "Ali":21
}
print(students_age)

{'Ammar': 19, 'Ashan': 20, 'Ali': 21}

In [15]:
# Using dict() function
students_scores : dict[str,int] = dict(Ali=80, Bob=90, Charlie=70)
print(students_scores)

# list1 = list((1,2,3,4,5))
# print(list1)

{'Ali': 80, 'Bob': 90, 'Charlie': 70}

## Accessing Values
can access values in a dictionary using the key inside square brackets `[]` or with the `.get()` method.

#### Example:

In [17]:
# Accessing a value using a key
print(students_scores["Ali"])  # Output: 80

# # Using the get() method
print(students_scores.get("Alii","value not found"))

80
value not found

#### Handling Missing Keys
The `.get()` method is safer for accessing keys, as it returns `None` or a default value if the key is not found, rather than raising a `KeyError`.

#### Example:

In [18]:
# Using square brackets (raises KeyError if key is not found)
# print(student_scores["David"])  # Uncommenting this line would raise KeyError

# Using get() (returns None if key is not found)
# print(students_scores.get("David"))  # Output: None

# Providing a default value with get()
print(students_scores.get("David", "Not Found"))  # Output: Not Found

Not Found

# Adding and Updating Items

 can add a new key-value pair or update an existing one using square brackets `[]`.

#### Example:

In [22]:
# Adding a new key-value pair
print(students_scores)
students_scores["David"] = 88
students_scores["Ammar"]= 100
print(students_scores)

# Updating an existing key-value pair
students_scores["Ali"] = 99
print(students_scores)

{'Ali': 80, 'Bob': 90, 'Charlie': 70, 'David': 88, 'Alice': 99, 'Ammar': 100}
{'Ali': 80, 'Bob': 90, 'Charlie': 70, 'David': 88, 'Alice': 99, 'Ammar': 100}
{'Ali': 99, 'Bob': 90, 'Charlie': 70, 'David': 88, 'Alice': 99, 'Ammar': 100}

## Removing Items

 can remove items using the `del` statement, the `.pop()` method, or the `.popitem()` method.

#### Example:

In [23]:
# Removing a specific key-value pair using del
del students_scores["Charlie"]
print(students_scores)

{'Ali': 99, 'Bob': 90, 'David': 88, 'Alice': 99, 'Ammar': 100}

In [24]:
# Removing a specific key-value pair using pop()
removed_score = students_scores.pop("David") # removed_score contains only value
print(removed_score)
print(students_scores)

88
{'Ali': 99, 'Bob': 90, 'Alice': 99, 'Ammar': 100}

In [26]:
# Removing the last inserted key-value pair using popitem()
last_item = students_scores.popitem() # last_item contains key-value and convert to tuple
print(last_item)
print(students_scores)

('Alice', 99)
{'Ali': 99, 'Bob': 90}

## Checking if a Key Exists

 can check if a key exists in a dictionary using the `in` keyword.

#### Example:

In [28]:
print("Alice" in students_scores)
print("Charlie" in students_scores)
print( "Ali" in students_scores)

False
False
True

## Iterating Through a Dictionary

We can iterate through the keys, values, or key-value pairs in a dictionary using a `for` loop.


### Example:

In [29]:
students_scores : dict[str,int] = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78
}

In [32]:
# Iterating through keys
for student in students_scores.keys():
    print(student)

Alice
Bob
Charlie

In [33]:
# Iterating through values
for score in students_scores.values():
    print(score)

85
92
78

In [37]:
# Iterating through key-value pairs
for std, scr in students_scores.items():
    print(f"{std}:{scr}")

Alice:85
Bob:92
Charlie:78

In [39]:
# Iterating through key-value pairs
for student in students_scores.items():
    print(f"{student}")

('Alice', 85)
('Bob', 92)
('Charlie', 78)

In [40]:
# [i for i in dir(students_scores) if "__" not in i]

## Dictionary Methods

#### 1. `.keys()` Method
Returns a view object that displays a list of all the keys in the dictionary.

*Example:*

In [41]:
keys = students_scores.keys()
print(keys)
print(type(keys))

dict_keys(['Alice', 'Bob', 'Charlie'])
<class 'dict_keys'>

#### 2. `.values()` Method
Returns a view object that displays a list of all the values in the dictionary.

*Example:*

In [42]:
values = students_scores.values()
print(values)
print(type(values))

dict_values([85, 92, 78])
<class 'dict_values'>

#### 3. `.items()` Method
Returns a view object that displays a list of the dictionaryâ€™s key-value tuple pairs.

*Example:*

In [43]:
items = students_scores.items()
print(items)
print(type(items))

dict_items([('Alice', 85), ('Bob', 92), ('Charlie', 78)])
<class 'dict_items'>

#### 4. `.update()` Method
Updates the dictionary with elements from another dictionary or from an iterable of key-value pairs.

*Example:*

In [44]:
additional_scores = {"Eve": 95, "Frank": 87}
students_scores.update(additional_scores)
print(students_scores)

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Eve': 95, 'Frank': 87}

#### 5. `.clear()` Method
Removes all items from the dictionary.

*Example:*

In [45]:
students_scores.clear()
print(students_scores)

{}

#### 5. `.copy()` Method

In [46]:
students_scores : dict[str,int] = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78
}
new = students_scores
print(id(new))
print(id(students_scores))
print(new)

134333253720128
134333253720128
{'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [47]:
students_scores_copy = students_scores.copy()
print(students_scores_copy)

{'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [48]:
print(id(students_scores))
print(id(students_scores_copy))

134333253720128
134333516577792

## Dictionary Comprehension
We can also apply comprehension method on dictionaries.

*Example:*

In [49]:

values : dict[int,int] = {x:x*2 for x in range(5)}
print(values)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

*Example:*

In [50]:
# convert list into dictionary
fruits : list[str] = ["apple", "banana", "orange"]
# list1 = [1,2,3,4,5]
# list_comp = [i*2 for i in list1]
# print(list_comp)
# for i, fruit in enumerate(fruits):
#     print(i,fruit)

fruits_dict : dict[int,str] = {i:fruit for i, fruit in enumerate(fruits)}
                            # index: value {0:"apple",1:"banana"}
print(fruits_dict)

{0: 'apple', 1: 'banana', 2: 'orange'}

## Projects

### Project 1: Student Gradebook

#### **Write a program to :**
- Create a dictionary to store student names as keys and their grades as values.
- Allow the user to input new student-grade pairs and update existing entries.

#### **Breakdown into step by step:**
1. **Initialize an empty dictionary** to store student names (keys) and their grades (values).

2. **Create a loop** to continuously allow the user to input data until they choose to stop.
  - 1. Add or Update a student
  - 2. View all students and grades
  - 3. Exit

3. **Prompt the user** to enter a student's name.

4. **Check if the name is already in the dictionary:**
   - **If it is**, then update the grade and update the dictionary.
   - **If not**, then add the grade and add into the dictionary.

5. **Ask the user** if they want to add another student or update another grade.

### Project 2: Employee Directory
Build a program to:
- Create a dictionary with employee IDs as keys and their names as values.
- Add functionalities to search, add, and delete employees.

In [68]:
student_names : dict [str,int]={}

while True:
    print("\nOptions:")
    print("1. Add/Update a student grade")
    print("2. View all students and grades")
    print("3. Exit")
    option = input("Enter your choice (1/2/3): ")
    if option == "1":

     name = input("Enter Student name : ")
     if name in student_names:
      print(f"{name} already exists. Current grade is {student_names[name]}")
      new_grade = int(input("Enter the new grade"))
      student_names[name] = new_grade
      print(f"{name}'s grade has been updated to {new_grade}")

     else:
      new_grade = int(input(f"Enter the grade for {name} : "))
      student_names[name] = new_grade
      print(f"{name} has been added with grade {new_grade}")

    elif option == "2":
      if student_names:
       print("\nStudents names and Grades:")
       for student,grade in student_names.items():
        print(f"{student}:{grade}")
      else:
       print("No students Currently added")

    elif option =="3":
     print("Exiting The program . . .")
     break

else:
  print("Invalid option. Please try again.")

Options:
1. Add/Update a student grade
2. View all students and grades
3. Exit
Enter your choice (1/2/3): 1
Enter Student name : Ammar
Enter the grade for Ammar : 75
Ammar has been added with grade 75

Options:
1. Add/Update a student grade
2. View all students and grades
3. Exit
Enter your choice (1/2/3): 2

Students names and Grades:
Ammar:75

Options:
1. Add/Update a student grade
2. View all students and grades
3. Exit
Enter your choice (1/2/3): 3
Exiting The program . . .